.env
.vscode
/build*
/examples/*/config.hpp
/extras/*/runtime
/extras/firmware-sizes.ndjson
/extras/pcapparse/pcapparse
/extras/pcapparse/pcapparse.exe
Pipfile.lock
node_modules
package-lock.json
pnpm-lock.yaml
